@import "tailwindcss";
body{
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a, #0f0f0f);

    color: white;
}
/* .chat-bubble-user {
@apply bg-blue-600 text-white rounded-xl px-4 py-2 max-w-[80%] self-end;
}
.chat-bubble-bot {
@apply bg-gray-100 text-gray-900 rounded-xl px-4 py-2 max-w-[80%] self-start;
} */